body{
 margin: 0;
 margin-left: 10px;
 }
p {
margin: 0;
}
#mediaTable {
    color:blue;
    width: 100%;
}
#mediaTable td, #ingredientsTable th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-bottom:  10px;
  }
#mediaTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
#mediaTable tr:hover {background-color: #ddd;}

#addDiv {
 display: none;
    z-index: 1;
    border:solid;
    padding:10px;
}
#haveTriedDiv {
 display: none;
}
#haveTriedFormInput{
display: none;
}
#removeDiv{
display: none;
}
footer{
background-color: #bfbcb2;
height:60px;
    bottom: 0;
    clear: both;
}
header{
background-color: #bfbcb2;
height:60px;
    top: 0;
}
#sideDiv{
background-color: #debc4b;
 height:800px;
width:20%;
     float:right;
     position: relative;

}
#mediaTableDiv{
width:68%;
    float:left;
    position:relative;
}
.mediaDiv{
float:left;
width:20%;
height:33%;
cursor: pointer;
}
.checked {
  color: orange;
}
#mediaPageDiv {
width:68%;
float:left;
    position:relative;
}
#mediaBox {
float:left;
width:40%;
}
#mediaTextBox{
float:left;
width:50%;
 margin-left:4%;
}
.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;


}
#haveSeenSelect{

}
.select1{
 background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#myForm {
font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#myForm label{
margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
#myForm input{
box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}


