<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- <link  rel="stylesheet" href="../static/stylesheet.css" />
 <script type="text/javascript" src="../static/script.js"></script> -->
<link th:href="@{/stylesheet.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>DB</title>


</head>
<body>
<table id="mediaTable">

</table>

<select name="haveSeen" id="haveSeenSelect" onchange="haveSeenSelectFunc()">
    <option value="all">show all media</option>
    <option value="past">show past media</option>
    <option value="future">show future media</option>
</select>


<select name="type" id="typeSelect" onchange="typeSelectFunc()">
    <option value="all">all</option>
    <option value="movie">movie</option>
    <option value="game">game</option>
    <option value="music">music</option>
    <option value="tvShow">tvshow</option>
</select>

<script th:inline="javascript">
      var nameJs = /*[[${mediaList}]]*/;
        document.onload = init(nameJs);
      </script>
</body>
</html>