<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- <link  rel="stylesheet" href="../static/stylesheet.css" />
 <script type="text/javascript" src="../static/script.js"></script> -->
<link th:href="@{/stylesheet.css?version=51}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>frontpage</title>
</head>
<body>

<a th:href="@{/list(type='movie')}"> <button>movie </button> </a>
<a th:href="@{/list(type='tvShow')}"> <button>tvShow </button> </a>
<a th:href="@{/list(type='book')}"> <button>book </button> </a>
<a th:href="@{/list(type='manga')}"> <button>manga </button> </a>
<a th:href="@{/list(type='baking')}"> <button>baking </button> </a>
<a th:href="@{/list(type='cooking')}"> <button>cooking </button> </a>
<a th:href="@{/list(type='game')}"> <button>game </button> </a>

<a th:href="@{/file}"> <button>file </button> </a>

</body>
</html>